@import "../../variables";

.auth-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 24px 0;
}

.auth {
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  padding: 40px;
  background-color: $color_blue;

  &_error {
    margin-top: 8px;
    color: $color_red;
    font-size: 12px;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__input-text-wrapper {
    margin-bottom: 20px;
    display: block;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__button {
    margin: 16px 0;
  }

  &__link {
    text-align: center;

    a {
      font-size: 14px;
      text-decoration: none;
      color: $color_blue2;
      &:hover {
        color: $color_red;
      }
    }
  }
}

.profile {
  position: relative;

  &__input-text {
    &:disabled {
      background-color: #ffffff;
    }
  }

  &__link {
    margin-top: 16px;
  }

  &__sign-out {
    a {
      color: $color_red;

      &:hover {
        color: #000000;
      }
    }
  }

  &__avatar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 16px;

    span {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: transparentize(#000000, 0.9);
    }
  }

  &__edit-avatar {
    margin-bottom: 24px;
  }

  &__back {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 12px;

    svg {
      width: 40px;
      height: 40px;
      polygon {
        fill: $color_blue2 !important;
      }
    }

    &:hover {
      svg polygon {
        fill: $color_red !important;
      }
    }
  }

  &__button {
    margin-bottom: 0;
  }
}