@import "../../variables";

.auth-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 24px 0;
}

.auth {
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  padding: 40px;
  background-color: var(--color-blue);

  &_error {
    margin-top: 8px;
    color: var(--color-red);
    font-size: 12px;

    span {
      display: block;
      text-align: center;
    }
  }

  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__input-text-wrapper {
    margin-bottom: 20px;
    display: block;
  }

  &__button-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__button {
    margin: 16px 0;
  }

  &__link {
    text-align: center;

    a {
      font-size: 14px;
      text-decoration: none;
      color: var(--color-blue2);

      &:hover {
        color: var(--color-red);
      }
    }
  }
}

.profile {
  position: relative;

  &__input-text {
    &:disabled {
      background-color: #fff;
    }
  }

  &__link {
    margin-top: 16px;
  }

  &__sign-out {
    a {
      color: var(--color-red);

      &:hover {
        color: #000;
      }
    }
  }

  &__avatar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 16px;

    div {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: rgb(0 0 0 / 10%);

      img {
        height: 100%;
        max-width: 100%;
        border-radius: 50%;
      }
    }
  }

  &__edit-avatar {
    margin-bottom: 24px;
  }

  &__back {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 12px;

    svg {
      width: 40px;
      height: 40px;

      polygon {
        fill: var(--color-blue2) !important;
      }
    }

    &:hover {
      svg polygon {
        fill: var(--color-red) !important;
      }
    }
  }

  &__button {
    margin-bottom: 0;
  }
}
